


  
  
  h5 {
    padding-right: 20px;
  }
  
  #img1Cal {
    position: relative;
    right: 500px;
    bottom: 100px;
  }

  #img2-3Cal{
    text-align: center;
  }
  
  #img2Cal {
    margin-left: 180px;
  }
  
  #img4Cal {
    height: 60px;
  }
  
  #img5Cal {
    height: 55px;
  }
  
  #img6Cal {
    text-align: center;
  }
  
  #questionsCal {
    position: relative;
  }

  #img7Cal {
    position: absolute;
    left: 150px;
    top: 0;
  }

  
  .content1, .content2 {
    padding: 0 50px;
    margin: 0 30px;
    border-right: 1px solid #A9A9A9;
    border-left: 1px solid #A9A9A9;
  }
  

  
  

  .answer3, .answer4 {
    position: relative;
    top: 3px;
  }
  
  .disabledBtn, .content1Btn, .content2Btn {
    padding-right: 40px;
  }
  
  .calculusAllChaptersBtn {
    margin-right: 380px;
    position: absolute;
    bottom: 70px;
  }



.react-slidedown.my-dropdown-slidedown1 {
  transition-duration: 0.5s;
  overflow: hidden;
}
.react-slidedown.my-dropdown-slidedown2 {
  transition-duration: 0.5s;
  overflow: hidden;
}
.react-slidedown.my-dropdown-slidedown3 {
  transition-duration: 0.4s;
  overflow: hidden;
}



@media only screen and (max-width: 1199px) {
  #img7Cal {
    position: absolute;
    left: 75px;
    bottom: 23px;
  }
}

@media only screen and (max-width: 991px) {
  #img1Cal {
    position: relative;
    right: 365px;
    bottom: 80px;
  }
  #img2Cal {
    margin-left: 40px;
  }
  #img7Cal {
    left: 75px;
    width: 250px;  
  }
}

@media only screen and (max-width: 767px) {
  #img1Cal {
    position: relative;
    right: 192px;
    bottom: 70px;
  }
  #img2Cal {
    width: 150px;
  }
  #img3Cal {
    width: 230px;
  }
  #img7Cal {
    position: initial;
    display: block; 
  }
}

@media only screen and (max-width: 550px) {
  #img3Cal {
    width: 280px;
  }

  #img7Cal {
    position: relative;
    left: 50px;
    display: block;
  }
}

@media only screen and (max-width: 521px) {
  #img1Cal {
    position: relative;
    right: 120px;
    bottom: 0px;
  }
  #img2Cal {
    margin-left: 0px;
  }
  #img3Cal {
    width: 210px;
  }
}


@media only screen and (max-width: 380px) {
  #img1Cal {
    position: initial;
    margin: auto;
    display: block;
  }
}