

  #inequationTable{
    display: inline;
    position: relative;
    right: 10px;
    top: 6px;
  }

  #inequationTable tr td{
    padding-left: 40px;
    padding-bottom: 15px;
    white-space: nowrap;
  }
  
  
  
  #inequationImg1 {
    margin-right: 80px;
  }
  
  
  .questions h6 {
    position: relative;
    left: 15px;
  }
  
  .answer1Btn, .answer2Btn{
      margin-bottom: 7px;
  }

  #inBlock{
    display: block;
  }

  #inBlockR{
    display: inline-block;
    vertical-align: top;
  }

  #inBlockL{
    display: inline-block;
    margin-right: 10px;
    text-align: center;
  }

  #inBlockL table tr td{
    padding: 0 15px;
  }

  #inBlockL table tr:nth-child(n+2) td{
    padding-top: 10px;
  }

  .react-slidedown.my-dropdown-slidedown1 {
    transition-duration: 1s;
    overflow: hidden;
}
  .react-slidedown.my-dropdown-slidedown2 {
    transition-duration: 0.5s;
    overflow: hidden;
}





@media only screen and (max-width: 767px) {
  #inequationImg1 {
    margin-right: auto;
  }
}


@media only screen and (max-width: 500px) {
  .ineQ {
    position: relative;
    left: 15px;
  }
}

@media only screen and (max-width: 364px) {
  #inequationImg1, #inequationImg2 {
    width: 100%;
  }
}

@media only screen and (max-width: 330px) {
  #inBlockL table tr td{
    padding: 0 10px;
  }
}

