
  
  h5 {
    padding-right: 20px;
  }
  
  #trigImg1 {
    position: relative;
    right: 100px;
    top: 0;
  }
  
  #trigImg2 {
    display: block;
    margin: auto;
  }
  
  #trigImg3 {
    position: relative;
    right: 80px;
    bottom: 10px;
  }
  
  #trigImg4 {
    display: block;
    margin: auto;
  }
  
  
  
  #top1 {
    border-bottom: 1px solid black;
    width: 35px;
  }
  
  #bottom1 {
    position: relative;
    bottom: 17px;
  }
  
  #sentence1 {
    position: relative;
    right: 40px;
    bottom: 70px;
  }

  #fraction1 {
    height: 55px;
  }
  
  #fraction2 {
    height: 55px;
    white-space: nowrap;
  }
 
  #fraction2R {
    display: inline-block;
    vertical-align: top;
  }
  
  #fraction2L {
    display: inline-block;
    position: relative;
    bottom: 10px;
    right: 10px;
  }

   
  #top2 {
    border-bottom: 1px solid black;
    width: 72px;
  }
  
  #bottom2 {
    position: relative;
    bottom: 17px;
    right: 15px;
  }

  #equal {
    position: relative;
    right: 75px;
    bottom: 70px;
  }

  #trigBlock1{
    display: block;
  }

  #trigBlock1R{
    display: inline-block;
    width: 50%;
  }

  #trigBlock1L{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 100px;
  }

  #trigBlock2{
    display: block;
  }

  #trigBlock2R{
    display: inline-block;
  }

  #trigBlock2L{
    display: inline-block;
    width: 360px;
    vertical-align: top;
    margin-right: 10px;
  }

  #trigBlock3{
    display: block;
  }

  #trigBlock3R{
    display: inline-block;
    height: 273px;
    position: relative;
  }

  #trigBlock3R p:nth-child(2){
    position: absolute;
    bottom: 0;
  }

  #trigBlock3L{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 35px;
  }

  #trigBlock4{
    display: block;
  }

  #trigBlock4R{
    display: inline-block;
  }

  #trigBlock4L{
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
  }
  

  
  

  #trigTable td:nth-child(1) {
    width: 30px;
    border: 1px solid black;
  }
  
  #trigTable td:nth-child(n+2):nth-child(-n+4) {
    width: 70px;
    border: 1px solid black;
  }
  
  #trigTable td:nth-child(5) {
    width: 150px;
    border: 1px solid black;
  }




.react-slidedown.my-dropdown-slidedown1 {
  transition-duration: 0.8s;
  overflow: hidden;
}
.react-slidedown.my-dropdown-slidedown2 {
  transition-duration: 0.8s;
  overflow: hidden;
}
.react-slidedown.my-dropdown-slidedown3 {
  transition-duration: 0.4s;
  overflow: hidden;
}



@media only screen and (max-width: 991px) {
  #trigBlock1L{
    margin-right: 70px;
  }
  #trigBlock2L{
    width: 250px;
  }
}

@media only screen and (max-width: 767px) {
  #trigBlock1{
    height: 770px;
  }

  #trigBlock1R{
    width: 65%;
  }
  
  #trigBlock1L{
    margin-right: 0px;
    width: 0;
  }

  #trigBlock1L img{
    width: 170px;
    margin-bottom: 120px;
    margin-top: 10px;
  }
  #trigBlock2L{
    width: 162px;
  }

  #trigTable {
    position: relative;
    left: 10px;
  }
  #trigTable td:nth-child(n+2):nth-child(-n+4) {
    width: 55px;
  } 
  #trigTable td:nth-child(5) {
    width: 121px;
  }
}

@media only screen and (max-width: 550px) {
  #trigBlock1 {
    height: 820px;
  }
  
  #trigBlock1R {
    width: 55%;
  }

  #trigBlock1L {
    margin-right: 20px;
  }

  #trigBlock2L {
    width: 130px;
  }
  
  #tr1 {
    width: 360px;
  }

  #trigTable {
    font-size: 12px;
  }
  #trigTable img{
    width: 100px;
  }
  #trigTable td:nth-child(n+2):nth-child(-n+4) {
    width: 45px;
  } 
  #trigTable td:nth-child(5) {
    width: 101px;
  }
}