

  .wpTable td {
    padding: 5px 20px;
  }

  .wpTable2 td {
    padding: 5px 20px;
  }

  
  
  .questions p {
    width: 80%;
  }
  
  


  .react-slidedown.my-dropdown-slidedown1 {
    transition-duration: 1s;
    overflow: hidden;
}
  .react-slidedown.my-dropdown-slidedown2 {
    transition-duration: 1s;
    overflow: hidden;
}
  .react-slidedown.my-dropdown-slidedown3 {
    transition-duration: 0.5s;
    overflow: hidden;
}


@media only screen and (max-width: 1000px) {
  .wpTable2 td {
    padding: 5px 10px;
  }
}

@media only screen and (max-width: 767px) {
  #wpImg{
    width: 90%;
  }
  .questions p {
    width: 70%;
  }
  .wpTable2 td {
    padding: 5px;
    width: 90px;
  }
}

@media only screen and (max-width: 496px) {
  .wpTable2 td {
    padding: 0;
    width: 70px;
  }
}

@media only screen and (max-width: 400px) {
  #wpImg{
    width: 105%;
    height: 70px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 364px) {
  .wpTable2 td {
    padding: 5px;
    width: 90px;
  }
}


  