/*------------------------------------------------------------------------------------------------------*/
 * {
    padding: 0;
    margin: 0;
  }
 

  .bgAbout {
    background-color: #F2C389;
    border-top: 1px solid#F2C389;
    border-bottom: 1px solid #F2C389;
  }
  
  .aboutContent {
    border-radius: 20px;
    -webkit-box-shadow: 2px 0 15px 0;
            box-shadow: 2px 0 15px 0;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px 30px;
    min-height: 500px;
    /*img animations:*/
    padding-right: 50px !important;
  }
  
  
  .aboutContent h1 {
    font-family: hadasimclm;
    font-size: 45px;
  }
  
  .aboutContent p {
    margin-top: 15px;
  }
  
  .aboutContent pre {
    font-family: inherit;
    font-size: inherit;
  }
  
  .aboutContent .details {
    padding-right: 20px;
    width: 75%;
  }
  
  .aboutContent table {
    margin: auto;
  }

  .aboutContent table tr td:nth-child(1){
    padding-left: 30px;
  }
  
  .aboutContent table tr:nth-child(7) td:nth-child(2) {
    border-top: 1px solid black;
  }


  @media only screen and (max-width: 767px) {
    .aboutContent .details {
      width: 100%;
    }

    .aboutText{
      position: relative;
      bottom: 20px;
    }
  }

  @media only screen and (max-width: 424px) {
    .aboutContent {
      border-radius: 0;
      padding-left: 35px !important;
    }
  }