.payment {
    min-height: 110vh;
    padding-top: 50px;
    overflow: hidden;
    background-image: url("../../img/underConstruction3.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
  
.payment h4 {
  position: relative;
  top: 430px;
}


@media only screen and (max-width: 767px) {
  .payment {
    background-image: url("../../img/underConstruction5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 48%;
    background-position-y: -40px;
  }
}