#searchResult{
    position: absolute;
    left: 26px;
    top: 51px;
    background-color: #3a87b4; 
    color: white;
    width: 206px; 
    overflow-y: auto;
    max-height: 500px; 
    z-index: 2;
}

#searchResult::-webkit-scrollbar {
    width: 10px;
}

#searchResult::-webkit-scrollbar-track {
    background: #2E5368; 
}

#searchResult::-webkit-scrollbar-thumb {
    background: #0B2A3C; 
}

#searchResult .searchLink{
    position: relative;
    text-align: right;
    border-bottom: 1px solid #1B3F54;
    width: 100%;
    cursor: pointer;
}

#searchResult .searchLink .nav-link{
    text-decoration: none;
    color: inherit;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#searchResult .searchLink:hover{
    background-color: #f3f8fb;
    color: black;
}



@media only screen and (max-width: 991px) {
    #searchResult{
        position: absolute;
        left: -3px;
        top: 51px;
        background-color: #3a87b4; 
        color: white;
        width: 206px;  
        z-index: 2;
    }
}

@media only screen and (max-width: 510px) {
    #searchResult {
        left: 50%;
        transform: translate(-50%);
        top: 115px;
        width: 194px;
    }
}